/* || CONSTRUCTION STYLES */

body {
  /* border: yellow 5px solid; */
}

h1, h2, h3, p, section, ul, .btn, img, header, footer, div {
  /* border: lime 3px solid; */
  /* background-color: hsla(120, 100%, 50%, 0.2); */
}

.experiment {
  width: 40rem;
  height: 40rem;
  border: lime 3px solid;
  background-color: hsla(120, 100%, 50%, 0.2);
}
