/* || RESPONSIVE STYLES */

/* || DESKTOP : for sizes 1250px and larger */
@media screen and (min-width: 1250px){
  /* || Main Layout (Grid) */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
  }
  .reviews-section {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /* || Leading */
  .leading {
    text-align: left;
  }
  /* || Ratings */
  .rating-item {
    display: flex;
  }
  .five-stars {
    margin: 0 1rem;
  }
  #FIRST-RATING-ITEM {
    margin-right: 20%;
  }
  #SECOND-RATING-ITEM {
    margin-left: 10%;
    margin-right: 10%;
  }
  #THIRD-RATING-ITEM {
    margin-left: 20%;
  }
  /* Reviews */
  .reviews-section {
    padding-top: 3%
  }
  .reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
  #FIRST-REVIEW-ITEM {
    margin-bottom: 20%;
  }
  #SECOND-REVIEW-ITEM {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #THIRD-REVIEW-ITEM {
    margin-top: 20%;
  }
}

/* || DESKTOP : for sizes 1920px and larger */
@media screen and (min-width: 1920px){

}
