:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(300, 43%, 22%);
  --dark-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* || BOX MODEL FIX */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* || CENTERING MAIN IN BODY */

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 85%;
  padding: 2.5rem;
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* || GLOBAL STYLES */

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

/* || ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
