:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --paragraphs-color: hsla(0, 0%, 100%, 0.75);
  --background-headings-buttons-color: hsl(0, 0%, 95%);
}

/* || BOX MODEL FIX */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* || CENTERING MAIN IN BODY */

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 85%;
  padding: 2.5rem;
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* || GLOBAL STYLES */

body {

}

/* || ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
